
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489558665934'); /* IE9*/
  src: url('iconfont.eot?t=1489558665934#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489558665934') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489558665934') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489558665934#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:0.16rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianpanqiehuandaxiaoxie:before { content: "\e71c"; }

.icon-jianpanshanchu:before { content: "\e71f"; }

.icon-shuzijianpanshanchu:before { content: "\e74b"; }

